// Body resets
//
// Update the foundational and global aspects of the page.

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  font-family: var(--body-font);
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
  color: var(--body-color);
  background-color: var(--body-bg);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

// No `:visited` state is required by default (browsers will use `a`)
a {
  transition: all 0.2s ease-in-out;
  color: var(--link-color);

  // `:focus` is linked to `:hover` for basic accessibility
  &:hover,
  &:focus {
    color: var(--link-hover-color);
  }

  strong {
    color: inherit;
  }
}

img {
  display: block;
  max-width: 100%;
  margin-bottom: var(--spacer);
  border-radius: var(--border-radius);
}

table {
  margin-bottom: 1rem;
  width: 100%;
  border: 0 solid var(--border-color);
  border-collapse: collapse;
}

td,
th {
  padding: 0.25rem 0.5rem;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 1px;
}

th {
  text-align: left;
}

thead th {
  border-bottom-color: currentColor;
}

mark {
  padding: 0.15rem;
  background-color: var(--yellow-100);
  border-radius: 0.125rem;
}

main {
  flex: 1 0 auto;
}

footer {
  background-color: var(--gray-700);
  padding: 30px 0;
  .wrapper {
    display: flex;
    justify-content: space-between;
  }

  .footer-small {
    display: flex;
    padding-left: 15px;
    small {
      align-self: flex-end;
    }
  }

  .self-blurb {
    font-size: .9375rem;
    padding-right: 15px;
    width: 50%;
    margin-bottom: 0;
  }

  @media screen and (max-width: 600px) {
    .wrapper {
      flex-direction: column;
      justify-content: center;
    }

    .self-blurb {
      width: 75%;
      padding-right: 0;
      align-self: center;
    }

    .footer-small {
      align-self: center;
      padding-top: 15px;
    }
    
  }


}

.home {
  ul {
    padding: 0;
  }
}


