// Layout
//
// Styles for managing the structural hierarchy of the site.

.wrapper {
  width: 740px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 550px;
  }

}

@media screen and (max-width: 600px) {
  .wrapper {
    width: 85%;
  }
}
  
