// Layout
//
// Styles for managing the structural hierarchy of the site.

.wrapper {
  width: 760px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px 0 15px;
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 575px;
  }

}

@media screen and (max-width: 600px) {
  .wrapper {
    width: 85%;
  }
}
  
